/ShareBrokeringWS/nbproject/private/
/ShareBrokeringWS/build/*
!/ShareBrokeringWS/build/generated-sources/
/ShareBrokeringWS/dist/
/CurrencyConvertor/build/
/CurrencyConvertor/dist/
/BrokeringClient/nbproject/private/
/BrokeringClient/build/
/BrokeringClient/dist/