/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Dec-2017, 23:38:25
    Author     : Chris
*/

html {
    height: 100%;
}
body {
    background-color: #ededed;
}

#menu {
    background-color: #126EC3;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid grey;
}

#menu #title {
    color: white;
    text-transform: capitalize;
    font-size: 24pt;
    padding: 5px 10px 0 0;
    display: inline-block;
    float: right;
}

#menu #search {
    display: inline-block;
    padding: 10px 0 0 10px;
}

#menu #search input {
    width: 250px;
    height: 25px;
}

#content {
    width: 100%;
    margin-top: 20px;
    
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.column {
    min-height: 100%;
    overflow: hidden;
    background-color: darkgray;
}
